<h2>Send Message to Azure Service Bus</h2>

<form method="post" asp-action="Send">
    <input type="text" name="message" class="form-control" />
    <br />
    <button class="btn btn-primary">Send</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3">@ViewBag.Message</div>
}